<footer>
<hr>
<div class="row">
  <div class = "col-6 col-md">
      <h5>О нас</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Команда</a></li>
        <li><a class="text-muted" href="#">Местоположение</a></li>
        <li><a class="text-muted" href="#">Политика</a></li>
        <li><a class="text-muted" href="#">Термины</a></li>
      </ul>
    </div>
    <div class = "col-6 col-md">
        <h5>Про запас</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Банда</a></li>
          <li><a class="text-muted" href="#">Пропаганда</a></li>
          <li><a class="text-muted" href="#">Уганда</a></li>
          <li><a class="text-muted" href="#">Барабанда</a></li>
        </ul>
      </div>
    </div>
</footer>
